<form method="post" action="/test/upload" enctype="multipart/form-data">
  <dl>
    <dt>UploadFile</dt>
    <dd><input type="file" name="upload_file" /></dd>
  </dl>
  <p>
    <input type="submit" value="전송" />
  </p>
</form>

<img src="/<%=@img%>"/>


