<h1>맛지 데이터 이전</h1>
<hl/>
<h2>데이터베이스 스크립트 실행</h2>
<input type="button" value="Run"/>
<hl/>
<h2>맛집 이미지 이전</h2>
<input type="button" value="Run"/>
<hl/>
<h2>유저프로필 이미지 이전</h2>
<input type="button" value="Run"/>
<hl/>
